@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 80rem;
  height: 50rem;
  font-size: 4rem;
  margin: 0 auto;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

h1 {
  color: darkslateblue;
  margin-left: 1rem;
}

form {
  width: 30rem;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 2rem;
  text-align: center;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

input {
  font-size: 2rem;
  border-radius: 3%;
  padding: 0.6rem;
}

button {
  font-size: 2rem;
  border-radius: 3%;
  padding: 0.6rem;
}

.submit--btn {
  width: 15rem;
}

.tasklist--container {
  display: flex;
  gap: 2rem;
  justify-content: left;
  margin-bottom: 2rem;
}
 */
